@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
	
}
body
{
	margin: 0;
}
	
header
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo
{
	position: relative;
	max-width: 80px;

}

.logo img
{
	float: left;
	width: 100px;
	height: auto;
}
/*nav bar*/
header ul
{
	position:relative;
	display:flex;
	
}

header ul li
{
	list-style:none;
	
}

header ul li a
{
	display: inline-block;
	color: #333;
	font-weight: 400;
	margin-left: 40px;
	text-decoration: none;
	transition: 0.6s ease;
}

header ul li a:hover
{
	background-color: #545454;
	color:#ffffff;
	border-radius: 2px;
	padding: 8px 10px;
	
}

.content
{
	position:relative;
	width: 100%;
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.content .textBox
{
	position: relative;
	max-width: 600px;
}

.content .textBox h2
{
	color: #333;
	font-size: 4em;
	line-height:1.4em;
	font-weight: 500;
}

.content .textBox h2 span
{
	color: #b19cd9;
	font-size: 1.2em;
	font-weight: 900;
}

.content .textBox p
{
	color: #333;
	margin: 0;
}

.content .textBox a
{
	display: inline-block;
	margin-top: 20px;
	padding: 8px 20px;
	background: #b19cd9;
	color: #fff;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
	
}

.content .textBox a:hover
{
	background-color:#333 ;
	transition: 0.5s;
	
}

.content .imgBox
{
	width: 600px;
	display:flex;
	justify-content: flex-end;
	padding-right: 50px;
	margin-top: 50px;
	
}

.content .imgBox img
{
	max-width: 500px;
}


.thumb
{
	position: absolute;
	left: 50%;
	bottom:0;
	transform: translateX(-50%);
	display:flex;
}

.thumb li
{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
	transition: 0.5s;
	
}

.thumb li:hover
{
	transform: translateY(-15px);
}

.thumb li img
{
	max-width: 60px;
}
/* socmed buttons*/
.sci
{
	position: sticky;
	top: 50%;
	right: 10px;
	display:flex;
	justify-content:center;
	align-items: center;
	flex-direction:column;
	
}

.sci li
{
	list-style: none;
}

.sci li a
{
	display: inline-block;
	margin: 5px 0;
	transform: scale(0.6);
}


.sci2 li
{
	list-style: none;
}

/*Box styles*/

.container{
  width:80%;
  margin: 0 auto;
}

.details{
  text-align: center;
}

.details h2{
  color:#333;
  font-size:3em;
  margin: 0;
}
.main-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.hair-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.nails-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.spa-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.box{
  width: 300px;
  height: 500px;
  margin: 10px;
  text-align: center;
  padding: 40px 20px;
  color: #ffffff;
  position: relative;

  border-radius: 5px;

}
.box > * {
  position: relative;
 
  color: #333;
}

.box::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.box:hover::before{
  width: 95%;
  height: 95%;
  transition: all ease .50s;
}


.box .icon img{
  width: 200px;
  height: 200px;
  
  background-color: #ffffff;
  text-align: center;
  display: inline-block;
  position: relative;
}


hr{
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;

  border: 0px;

}

/*Box border*/

/*purple*/
.box a{
  text-decoration: none;
  color: #ffffff;
  background-color:#b19cd9 ;
  padding: 10px 25px;
  border-radius: 25px;
  margin-top: 25px;
  display: inline-block;
  font-weight: 600 ;
  transition: 0.6s ease;
}
.box a:hover{
  background-color:#333 ;
}

.box .white-border{
  border: 1px solid #ffffff;
}

/*Box colours*/

/*beige*/
.box-beige{
  background-color:#FFEFE8;
}

/*nude pink*/
.bookhair{
  background-color:#DDC0B4 ;
}

.booknails{
  background-color:#9E8980;
}

.bookspa{
  background-color:C4AA9F ;
}
/*decorative circle*/
.circle
{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#EBCFC4;
	clip-path: circle(400px at right);
}

.circle2
{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#D3C4BE;
	clip-path: circle(400px at left);
}



/*Services menu box style*/
.box2{
  width: 300px;
  height: 450px;
  margin: 10px;
  text-align: center;
  padding: 40px 20px;
  color: #ffffff;
  position: relative;
  
  border-radius: 5px;

}
.box > * {
  position: relative;
 
  color: #333;
}

.box2::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.box2:hover::before{
  width: 95%;
  height: 95%;
  transition: all ease .50s;
}


.box2 .icon img{
  width: 200px;
  height: 200px;
  
  background-color: #ffffff;
  text-align: center;
  display: inline-block;
  position: relative;
}
.box2 > * {
  position: relative;
  
  color: black;
}
/* MENU LIST*/

.bookhair li
{
	list-style: none;
}



